
h2{background-color: darkcyan; color: white;}
footer{color: white; background-color: black;}
h1{background-color: rgb(193, 236, 236); text-align: center;}
p{text-align: justify;}
body{background-color: rgb(193, 236, 236);}
  
